$bg-footer: rgb(131, 131, 131);
$bg-content:rgb(255, 255, 255);
$bg-navbar:rgb(226, 226, 226);

$white: white;
$black: black;


iframe {
  display: block;
  width: 100%;
  height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    display: flex;
  
  }
  
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }

  .navbar {
    background-color: $bg-navbar;
  }
  
  .content {
    overflow-y: auto;
    overflow-x: hidden;
    height: 70%;
    flex: 1 0 auto;
    background-color: $bg-content;
  }
  
  .footer {
    flex-shrink: 0;
    width: 100%;
    font-size: .8rem;
    display: flex;
    flex-direction: row;
    background-color: $bg-footer;
    color: $white;

    table {
      color: $white;
    }

    &-title {
      font-size: .8rem;
      font-weight: bold;
    }

    &-logo {
      width: 35%;
      height: auto;
    }

    &-location{
      color:$black;
    }
    
  }


  .container {
    max-width: 800px;
    margin: 0 auto;
    
    h1 {
      font-size: 3rem;
    }
    
    .lead {
      font-size: 1.25rem;
    }
    
    h3 {
      font-size: 2rem;
      margin-top: 2rem;
    }
    
    table {
      margin-top: 1.5rem;
      
      td {
        font-size: 1.25rem;
        border-top: none;
        
        &:first-of-type {
          width: 100px;
        }
      }
    }
  }
  